.heading {
  height: 3em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #161212;
}
.heading span {
  color: rgb(253, 253, 253);
  font-size: 0.94em;
}
.chip {
  margin-right: 4px;
  background-color: #6e6e6e83 !important;
}
.going {
  display: flex;
  flex-direction: column;
}
.goingItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid #dddddd;
  align-items: center;
  color: #0e0e0e;
  font-size: 0.86em;
}
.goingItem:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #dddddd;
}
