@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  background-color: #fff;
  font-family: "Roboto Condensed", sans-serif;
}
.main {
  margin-top: 63px;
  padding: 10px;
}

/* event items */
.event-item {
  margin: 0.8em 0;
  padding: 0.9em 0.5em;
  background-color: #f7f7f7;

  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.event-item-right {
  flex: 1;
  margin-left: 15px;
}
.event-item-right-title {
  margin-bottom: 5px;
  font-weight: bold;
}
.event-item-right-desc {
  font-size: 0.9em;
  text-align: justify;
  margin-bottom: 5px;
}
.event-item-right-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.event-h {
  margin-right: 6px;
}
.event-space {
  margin: 10px 0;
}
.inheritFont {
  font-family: "Roboto Condensed", sans-serif !important;
  font-size: 0.9em !important;
}
.csmBtns {
  color: #ffffff !important;
  border-color: #2e836c !important;
  background-color: #1d785f !important;
}
.inheritBC {
  background-color: #eeeeee !important;
}
.event-item-right-attendees {
  display: flex;
  flex-wrap: wrap;
}
.attendee {
  margin: 5px 5px 0px 0px !important;
}
.event-item-act {
  padding: 10px 5px;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em !important;
  align-items: center;
  margin-top: 15px;
  border-radius: 3px;
  text-align: justify;
}
.event-item-act button {
  margin-left: 10px;
  min-width: fit-content;
}
.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root::placeholder {
  font-family: "Roboto Condensed", sans-serif !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  font-family: "Roboto Condensed", sans-serif !important;
}

.mainColor {
  color: #1d785f !important;
}
