.form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.btns {
  margin-top: 1em;
}
.addEventHeader {
  color: #000000;
  font-size: 1.8em;
  margin-bottom: 15px;
  font-weight: 600;
}
.lpf {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px);
  align-items: center;
    position: relative;
}
.lpfImg {
  height: 100%;
  position: fixed;
  left: 0;
  width: 50%;
  background-image: url("https://media.gq-magazine.co.uk/photos/5d139e6c18d30a3a67712d58/2:3/w_852,h_1278,c_limit/Singer-GQ-Italy-Barlow-Musselwhite-Full-size-7_EDIT.jpg");
  background-position: center;
  background-size: cover;
}
.lpfForm {
  width: 50%;

  margin-left: auto;
}
.errorMsgC {
 padding:10px;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    box-shadow: 1px 1px 8px 4px #00000017;


}
.errorMsgH4 {
  padding-bottom:5px;
  margin:0;
}
.ctgr {
  height: 3.5em;
  margin: 1em 0;
  background-color: #f0f0f0;
  width: calc(100% - 20px);
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
}
.ctgrTag {
  background-color: #f9ffd0 !important;
}
.date {
  width: calc(100% - 30px);
  padding: 20px 15px;
  cursor: pointer;
  font-family: "Roboto Condensed";
  font-size: 1em;
  border: none !important;
  background-color: #dfdbff;
  border-radius: 6px;
}
.date:focus {
  outline: none;
}
.date:hover {
  background-color: #d0caff;
}
.dateSep {
  margin: 1em 0 0.5em 0;
}

/* error */
.chipFlex {
  display:flex;
  flex-wrap:wrap;
}